.contenedor{
display: grid;
grid-template-columns: repeat(4,1fr) ;
grid-template-rows: repeat(4,1fr);
height: 100vh;
}

.cubo{
display: flex;
grid-column: 4/4;
grid-row: 4/4;
background-color: blueviolet;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
}

.cuadros{

    background-color: blanchedalmond;
    height: 10px;
    width: 10px;



}